.App {
  text-align: center;
}

.App-header {
  background-image: url("./images/logo_only.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
}

.MainText {
  color: #d0d5a4;
  font-family: wwfont;
  font-size: 35px;
  position: absolute;
  top: 50px;
  left: 50px;
  max-width: 400px;
}

.construction {

  transform: scale(5);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.bottomRight {
  position: absolute;
  bottom: 100px;
  right: 150px;
}

.subText {
  color: #d0d5a4;
  font-family: wwfont;
  font-size: 24px;
}

.MailChimp {
  position: absolute;
  bottom: 50px;
  right: 150px;
}